.app-custom-input {
    border: 2px solid var(--ion-color-primary); /* Borde con color primario */
    border-radius: 18px;  /* Bordes redondeados */
    overflow: hidden;      /* Evita que el contenido sobresalga */
    padding: 5px 10px;     /* Espaciado interno */
    background-color: #ffffff;
}  