<ion-header>
  <ion-toolbar class="titulo">
    <ion-title >Listado de Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="tabla-container">
    <table class="tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Asunto</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Precio</th>
          <th>Fecha Creacion</th>
          <th>Asignado A</th>
          <th>Situacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicos of Medicos">
          <td>{{ medicos.id }}</td>
          <td>{{ medicos.asunto }}</td>
          <td>{{ medicos.descripcion }}</td>
          <td>{{ medicos.estado }}</td>
          <td>{{ medicos.precio | currency:'PYG':'symbol' }}</td>
          <td>{{ medicos.fecha_creacion }}</td>
          <td>{{ medicos.asignado_a }}</td>
          <th>{{ medicos.situacion }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
